        <script src="/socket.io/socket.io.js"></script>
        <script src="/js-files/libraries/jquery-3.7.1.min.js"></script>
        <script src="/js-files/libraries/axios.min.js"></script>
        <script src="/js-files/libraries/bootstrap.bundle.min.js"></script>
        <script src="/js-files/libraries/validator.min.js"></script>
        <script src="/js-files/client.js"></script>
        <script src="/js-files/socket.client.js"></script>
    </body>
</html>