<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Rooms</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/css-files/bootstrap.min.css" />
        <link rel="stylesheet" href="/css-files/styles.css" />
        <link rel="icon" type="image/png" href="/css-files/images/chat-logo.PNG">
        
    </head>
    <body>