@charset "UTF-8";
/* Home style */
.home{
  padding: 40px;
}
h2{
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: rgb(69, 15, 120);
}
.home-body{
  display: flex;
  flex-direction: row;
}
.intro{
  color: rgb(91, 49, 127);
  font-size: x-large;
  padding: 40px 0px 40px 0px;
}
.home-btn{
  width: 150px;
  font-size: x-large;
  margin-left: 10px;
}
/* profile style */
.profile{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.side{
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  background-color: rgb(69, 15, 120);
  padding: 10px;
  color: white;
  text-align: center;
}
.online-list{
  list-style-type: none;
  list-style: none;
  padding: 0;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}
.online:hover{
  color: rgb(69, 15, 120);
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.header{
  color: white;
  border-bottom: solid slateblue 1px;
  background-color: blueviolet;
  padding: 8px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}

.my-rooms{
  list-style: none;
  padding: 0;
  font-size: large;
  color: rgb(69, 15, 120);
  margin: 20px 0px 20px 0px;
}
.room{
  margin: 10px;
  border-bottom: 1px solid slateblue;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-enter{
  background-color: blueviolet;
  color: white;
}
.btn-enter:hover{
  background-color: rgb(111, 35, 183);
  color: white;
}
.room-form{
  margin: 0px 10px 0px 10px;
  color: rgb(69, 15, 120);
}
.room-form h4{
  color: rgb(69, 15, 120);
}
.room-form form{
  padding-bottom: 20px;
}
.body{
  width: 80%;
  height: 100%;
}
/* auth forms */
#signup-form,
#login-form{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: rgba(33, 37, 41, 0.75) 1px solid;
    border-radius: 5px;
    padding: 5%;
    position: absolute;
    top: 10%;
    left: 10%;
}
.signup-error,
.login-error,
.room-error,
.code-error{
    color: crimson;
}
/* error page */
.wrapper {
  position: relative;
  max-width: 1298px;
  height: auto;
  margin: 2em auto 0 auto;
}
.box {
  max-width: 70%;
  min-height: auto;
  margin: 0 auto;
  padding: 1em 1em;
  text-align: center;
  background:url("/css-files/images/not-found.jpg") no-repeat top 9em center/128px 128px;
}
h1 {
  margin: 0 0 1rem 0;
  font-size: 5em;
}
p {
  margin-bottom: 0.5em;
  font-size: 3em;
}
p:first-of-type { margin-top: 4em; }