{{>start}}

<div class="home">
    <h2>Realtime Chatting</br>Application..</h2>
    <div class="home-body">
        <div>
            <div class="intro">Once new user login the app your online list will be updated<br/>
            You can create private rooms with unique code and strong password and remove it any time<br/>
            Once user write correct room data, he can be a member of this room<br/>
            Any time, user can leave room and join to another room<br/>
            All data is secured and saved in database<br/></div>

            <div>
                <button class="btn btn-lg btn-secondary home-btn" onclick="location.assign('/signup')">
                    signup
                </button>
                <button class="btn btn-lg btn-info home-btn" onclick="location.assign('/login')">
                    login
                </button>
            </div>
        </div>
        <img src="../../css-files/images/men-talking.jpg" class="float-end" width="250px" height="300px" />
    </div>
</div>

{{>end}}